
.tm-social{
    font-size: 50px;
    color: rgb(29, 28, 28);
}
.bs-b{
    box-sizing: border-box;
    height: 70px;
}
.heightHeader{
    height: 300px;
}

.bg-h{

    background: url(../svg/blurry-gradient-haikei.svg) no-repeat;

}

.bg-p{

    background: url(../svg/wave-haikei.svg) no-repeat;

}

.bsb{

    box-sizing: border-box;

}

.top-20{
    top: 20%;
}

.bg-darklight{
    background-color: rgb(54, 54, 54);
}

.bor-dark{
    border-bottom: 1px solid rgb(27, 27, 27);
    border-left: 1px solid rgb(27, 27, 27);
    border-right: 1px solid rgb(27, 27, 27);
}
.bor-dark-top{
    border-top: 1px solid rgb(27, 27, 27);
}

.start-20{
    left: 6%;
    top: 20%
}

.bt-c:hover{
    cursor: pointer;
}